.con{
    background-color: rgb(19, 171, 222);
    color: rgb(5, 5, 5);
    margin-left: 25%;
    margin-right: 33%;
    margin-top: 12%;
    height: 30vh;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 20px;
}